@font-face {
    font-family: 'MyFont';
    src: 
        url("Norse-Bold.otf")
        format('opentype');
    font-weight: normal;
    font-size: normal;
}

body {
    font-family: sans-serif;
    font-size: 1.3rem;
}

#banner{
    height: auto;
    width: 70%;
    background-image: url("signup_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    justify-content: center;
    display: block;
    text-align: center;
}

.logoBanner {
    font-family: 'MyFont',sans-serif;
    position: absolute ;
    top: 25%;
    right: 15%;
    font-size: 5rem;
}

.logo {
    position: relative;
    display: inline-block;
    direction: row;
    height: auto;
    width: 100%;
   
}

.logo::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 160%;
    bottom: 0;
    left: 0%;
    margin: auto;
    background-image: url('odin-logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

#banner p {
    position: absolute;
    bottom:0;
    font-size: small;
    text-align: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: row;
    border: 0;
    margin: -0.5rem;
    padding: 0;
}

#right-side, .footer {
    background-color: #E5E7EB;
    padding: 5% 10% 5% 3%;
}

.info {
    font-weight: 500;
    padding: 5% 0;
    
}

input {
    border: 1px solid #E5E7EB;
}

.form_container {
    background-color: #E5E7EB;
    padding-bottom: 5%;
}

.input-field {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 1rem;
    margin-left: -5%;
    padding-left: 6%;
    gap: 20%; 
    
}

legend {
    background-color: white;
    padding: 2% 0;
    margin-left: -5%;
    padding-left: 6%; 
}

label {
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    padding-bottom: -2%;
}

form {
    background-color: white;
    margin: 0;
    margin-right: -21%; 
}

input {
    width: 150%;
    height: auto;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: lightblue;
    color: white;
    border-radius: 5px;
    border: 2px solid lightblue;
    font-size: 1rem;
    padding: 2% 8%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

button:hover {
    border: 2px solid blue;
}

.footer {
    margin-left: -3%;
}

.footer p {
    padding-top: 3%;
    font-size: 0.9rem;
}

password:invalid {
    border: 2px solid red;
    outline-offset: 0;
}

input[type=text]:focus {
    border: 2px solid blue;
    outline-offset: 0;
}

span {
    font-size: small;
    color:red;
}